
main.content,
#calendar-table,
#calendar-table table{
overflow: scroll;
}

#calendar-table table, #calendar-table th, #calendar-table td {border: 1px solid black;}

#calendar-table {
width: 100%;
}

#calendar-table th{
padding: 0px 7px;
}

#calendar-table td {padding: 0px 0px;text-align: center;height: 24px;}

#calendar-table tr th:first-child, 
#calendar-table tr td:first-child {
width: 155px;
display: flex;
}

#calendar-table tr td:first-child input {
width: 110px;
margin: 2px;
}

.timeslot{position: absolute;background: #1b3e6f;top: 0px;/* margin-top:2px; */height: 22px;/* height: 20px; */}

#calendar-table .timeslots-controls {
display: flex;
align-items: center;
}

#calendar-table  .timeslots-controls input {
width: 30px;
}

#calendar-table button {
    border: 0px;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 2px 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 2px;
}

div#calendar-table {
margin-bottom: 15px;
}

table#schedule-table {
margin-bottom: 5px;
}

table#schedule-table {
margin-top: 15px !important;
}

.insert-timeslot{
    background-color: rgb(90, 146, 90);
    color: #fff;
}

.add-timeslot, 
.add-row{
    background-color: #f37f0d;
    color: #fff;
}

.remove-timeslot{
    background-color: rgb(223, 66, 23);
    color: #fff;
}

.hour-ruler {
    position: relative;
    height: 60px;
}
.horizontal-axis {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 30px;
}

.horizontal-axis td{
    border-top: 1px black;
}
.axis-label {
    position: relative;
    flex: 1;
    text-align: center;
    padding-top: 10px;
    width: 14px;
    font-size: 12px;
}
.tick {
    position: absolute;
    top: 0;
    height: 5px; /* adjust for smaller ticks */
    width: 1px;
    background: black;
}
.current-time-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: red;
    z-index: 2;
}

.timeslots-div{
    height: 20px; 
    width: 160px; 
    background: rgb(27, 62, 111);
}

.timeslot {
    cursor: grab;
}

table#schedule-table {
    width: 100%;
}

#calendar-table button.save-calendar{
    width: 150px;
    background-color: #1b3e6f;
    color: #fff;
}


#calendar-table td.day-date{
    position: relative;
    background-color: #f37f0d14;
    opacity: 0.8;
    background-image: linear-gradient(#f37f0d 1px, transparent 1px), linear-gradient(to right, #f37f0d 1px, #f37f0d1c 1px);
    background-size: 14px 23px;
}